.join-now {
  background: #eff6ff;
  padding: 140px 100px;
}

.login {
  background: #fff;
  padding: 20px 30px;
}

.btn {
  display: flex;
  justify-content: center;
}

@media (min-width: 600px) {
  .join-now {
    padding: 140px 30px;
  }
}
