.navbar {
  background: #fff;
}

.navbar ul li {
  display: flex;
  justify-content: flex-end;
}

.navbar .container-fluid .navbar-nav .nav-item .nav-link {
  color: #000;
  font-size: 18px;
}

.navbar .container-fluid .navbar-nav .nav-item .nav-link:hover {
  text-decoration:underline;
}

@media (min-width:992px) {
  .navbar-expand-lg .navbar-collapse {
    display: flex;
    justify-content: flex-end;
  }
}
